<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061252803462-fgnse7pcf7c4nqkddtc6k8oe8qapeq4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061252803462-fgnse7pcf7c4nqkddtc6k8oe8qapeq4g</string>
	<key>API_KEY</key>
	<string>AIzaSyBt3_QPdnxO-Qp05t9iaQSoPnBOZwbMwUc</string>
	<key>GCM_SENDER_ID</key>
	<string>1061252803462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dApp</string>
	<key>PROJECT_ID</key>
	<string>d-app-46387</string>
	<key>STORAGE_BUCKET</key>
	<string>d-app-46387.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061252803462:ios:dacbb3f79479f59349da07</string>
</dict>
</plist>